<!DOCTYPE html>
<div class="content">
  <!-- The usage of Customer-dashboard component of feature Module 
   inside the another Component of same Feature Module 
   Selector Tag display the Component -->
  <app-customer-dashboard></app-customer-dashboard>

  <p appHighlight>Module level Highlight custum Directive</p>

  <!-- Pipes -->
  <p>The without pipe (Date) is {{ birthday }}</p>

  <p>The inbuild pipe (Date) is {{ birthday | date }}</p>

  <p>
    The inbuild pipe (Date) with specific format is
    {{ birthday | date: "MM/dd/yy" }}
  </p>

  <p>The chained pipes {{ birthday | date: "fullDate" | uppercase }}</p>

  <!-- custom pipes -->
  <p>Super power boost: {{ 2 | exponentialStrength: 10 }}</p>

  <h2>Power Boost Calculator</h2>
  <div>Normal power: <input [(ngModel)]="power" type="text" /></div>
  <div>Boost factor: <input [(ngModel)]="factor" type="text" /></div>
  <p>Super Hero Power: {{ power | exponentialStrength: factor }}</p>

  <br />
  using service <button (click)="increamentFactor()">Increament Factor</button>
</div>
