<!DOCTYPE html>
<h1>{{ title }}</h1>

<button routerLink="">Home</button> <br />

<span>Lazi Loading Feature Modules</span>

<button routerLink="/customers">Customers</button>
<button routerLink="/orderlist">Orders</button>

<br />

<span>Root Level and Module Level</span>

<button routerLink="/rootLevel">Root Level</button>
<button routerLink="/moduleLevel">Module Level</button>

<router-outlet></router-outlet>
