<!DOCTYPE html>
<div class="content">
  <app-customer-dashboard></app-customer-dashboard>
  <p appHighlight>Root level Highlight custum Directive</p>

  <br />

  <p>The without pipe (Date) is {{ birthday }}</p>

  <p>The inbuild pipe (Date) is {{ birthday | date }}</p>

  <p>
    The inbuild pipe (Date) with specific format is
    {{ birthday | date: "MM/dd/yy" }}
  </p>

  <!-- custom pipes -->
  <p>Super power boost: {{ 2 | exponentialStrength: 10 }}</p>

  <h2>Power Boost Calculator</h2>
  <div>Normal power: <input [(ngModel)]="power" /></div>
  <div>Boost factor: <input [(ngModel)]="factor" /></div>
  <p>Super Hero Power: {{ power | exponentialStrength: factor }}</p>

  <br />
  using service <button (click)="increamentFactor()">Increament Factor</button>
</div>
